/* font-family: 'Abel', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lexend Deca', sans-serif;
font-family: 'Livvic', sans-serif; */

html,body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}
/* global classes */
a{
    text-decoration: none;
    color: rgb(90, 84, 84);
}
.flex-row{
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
h1{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 2.5rem;
    font-weight: bolder;
}
h2{
    font-family: 'Lexend Deca', sans-serif;
}
h3{
     font-family: 'Abel', sans-serif;
    font-size: 1.3rem;
    font-weight: bolder;
}
button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-weight: bolder;
    font-family: 'Livvic', sans-serif;
    cursor: pointer;
}
span{
    font-family: 'Abel', sans-serif;
}
.container{
    margin: 0 5vw;
}
.text-gray{
    color: gray;
    font-weight: bolder;
}

p{
    font-family: 'Lexend Deca', sans-serif;
    color: gray;
}
/* global classes ends here */

/* navbar */
.nav{
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}
.nav .nav-menu{
    justify-content: space-between;
} 
.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}
.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}
.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: rgb(90, 84, 84);
}
.collapse{
    height: 30rem;
}
.nav .nav-items{
    display: flex;
    margin: 0;
}
.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: 'Abel', sans-serif;
    font-weight: bolder;
}
.nav .nav-items .nav-link:hover{
    background-color: rgb(8, 61, 54);
}
.nav .nav-items .nav-link:hover a{
    color: white;
}
.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: 'Lexend Deca', sans-serif;    font-size: 1.6rem;
    font-weight: bolder;
}
.nav .social{
    padding: 1.4rem 0;
    /* letter-spacing: 0.3rem; */
}
.nav .social i{
    padding: 0 0.2rem;
}
.nav .social i:hover{
    color: rgb(21, 143, 127);
}
/* navbar ends here */

/* main section */

/* site title */
main .site-title{
    background: url('Background-image.png');
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
}
main .site-title .site-background{
    padding-top: 10rem;
    text-align: center;
    color: white;
}
main .site-title h1,h3{
    margin: 0.3rem;
}
main .site-title .btn{
    margin: 1.8rem;
    background: skyblue;
}
main .site-title .btn:hover{
    background:transparent;
    border: 1px solid white;
    color: white;
}
/* site title ends here */

/* blog carousel */
main .blog{
    background: url('Abract01.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 100%;
    background-size: 65%;
}
main .blog .blog-post{
    padding-top: 4rem;
}
main .blog-post .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px lightgray;
}
main .blog-content .blog-title{
    padding: 2rem 0;
}
main .blog-content .btn-blog{
    padding: .7rem 2rem;
    background-color: skyblue;
    margin: .5rem;
}
main .blog-content .btn-blog:hover{
    background: rgb(133, 154, 219);
    color: white;
}
main .blog-content span{
    display: block;
}
/* section .container .owl-nav{
    position: absolute;
    top: 0%;
    margin: 0 auto;
    width: 100%;
} */
.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next{
    color: black;
    background: transparent;
    font-size: 2rem;
}

.owl-theme .owl-nav [class*='owl-']:hover{
    background: transparent;
    color: rgb(99, 99, 182);
}

.owl-theme .owl-nav [class*='owl-']{
    outline: none;
}

/* blog carousel ends here */

/* site section */
main .site-content{
    display: grid;
    grid-template-columns: 70% 30%;
}

main .post-content{
    width: 100%;
    
}

main .site-content .post-content > .post-image, .post-title{
    padding: 1rem 2rem;
    position: relative;
}

main .site-content .post-content > .post-image .post-info{
    background: skyblue;
    padding: 1rem;
    position: absolute;
    bottom: 0%;
    left: 20vw;
    border-radius: 3rem;
}

main .site-content .post-content > .post-image > div{
    overflow: hidden;
}

main .site-content .post-content > .post-image .img{
    width: 100%;
    transition: all 1s ease;
}

main .site-content .post-content > .post-image .img:hover{
    transform: scale(1.3);
}

main .site-content .post-content > .post-image .post-info span{
    margin: 0 .5rem;
}

main .post-content .post-title a{
    font-family: 'Anton', sans-serif;
    font-size: 1.5rem;
}

.site-content .post-content .post-title .post-btn{
    border-radius: 0;
    padding: .7rem 1.5rem;
    background: skyblue;
}

.site-content .pagination{
    justify-content: center;
    color: gray;
    margin: 4rem 0;
}

.site-content .pagination a{
    padding: .6rem .9rem;
    border-radius: 2rem;
    margin: 0 .3rem;
    font-family: 'Lexend Deca', sans-serif;
}

.site-content .pagination .pages{
    background: gray;
    color: white;
}

/* -------x-------- Site Content --------x-------*/


/* --------------- Sidebar ----------------------- */

.site-content > .sidebar .category-list{
    font-family: 'Livvic', sans-serif;}

.site-content > .sidebar .category-list .list-items{
    background: skyblue;
    padding: .4rem 1rem;
    margin: .8rem 0;
    border-radius: 3rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.site-content > .sidebar .category-list .list-items a{
    color:  black;
}

.site-content .sidebar .popular-post .post-content{
    padding: 1rem 0;
}

.site-content .sidebar .popular-post h2{
    padding-top: 8rem;
}

.site-content .sidebar .popular-post .post-info{
    padding: .4rem .1rem !important;
    bottom: 0rem !important;
    left: 1.5rem !important;
    border-radius: 0rem !important;
    background: white !important;
}

.site-content .sidebar .popular-post .post-title a{
    font-size: 1rem;
}

.site-content .sidebar .newsletter{
    padding-top: 10rem;
}

.site-content .sidebar .newsletter .form-element{
    padding: .5rem 2rem;
}

.site-content .sidebar .newsletter .input-element{
    width: 80%;
    height: 1.9rem;
    padding: .3rem .5rem;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1rem;
}

.site-content .sidebar .newsletter .form-btn{
    border-radius: 0;
    padding: .8rem 32%;
    margin: 1rem 0;
    background: skyblue;
}

.site-content .sidebar .popular-tags{
    padding: 5rem 0;
}

.site-content .sidebar .popular-tags .tags .tag{
    background: skyblue;
    padding: .4rem 1rem;
    border-radius: 3rem;
    margin: .4rem .6rem;
}


/* -------x------- Sidebar -----------x----------- */

/* main section ends here */

/* ----------------- Footer --------------------- */

footer.footer{
    height: 100%;
    background: black;
    position: relative;
}

footer.footer .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer.footer .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

footer.footer .container h2{
    color: white;
}

footer.footer .newsletter .form-element{
    background: black;
    display: inline-block;
}

footer.footer .newsletter .form-element input{
    padding: .5rem .7rem;
    border: none;
    background: transparent;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    width: 74%;
}

footer.footer .newsletter .form-element span{
    background: skyblue;
    padding: .4rem .3rem;
    cursor: pointer;
}

footer.footer .instagram div > img{
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: .3rem .4rem;
}

footer.footer .follow div i{
    color: white;
    padding: 0 .4rem;
}

footer.footer .rights{
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
}

footer.footer .rights h4 a{
    color: white;
}

footer.footer .move-up{
    position: absolute;
    right: 6%;
    top: 50%;
}

footer.footer .move-up span{
    color: rgb(84, 84, 189);
}

footer.footer .move-up span:hover{
    color: white;
    cursor: pointer;
}

/* ---------x------- Footer ----------x---------- */

/*              Viewport less then or equal to 1130px            */

@media only screen and (max-width: 1130px){
    .site-content .post-content > .post-image .post-info{
        left: 2rem !important;
        bottom: 1.2rem !important;
        border-radius: 0% !important;
    }

    .site-content .sidebar .popular-post .post-info{
        display: none !important;
    }

    footer.footer .container{
        grid-template-columns: repeat(2, 1fr);
    }

}

/*      x       Viewport less then or equal to 1130px    x     */

/*  Viewport less then or equal to 750px  */

@media only screen and (max-width: 750px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }
    .nav .toggle-collapse{
        display: initial;
    }
    main .site-content{
        grid-template-columns: 100%;
    }

    footer.footer .container{
        grid-template-columns: repeat(1, 1fr);
    }
}

/*        x      Viewport less then or equal to 750px       x     */


/*              Viewport less then or equal to 520px            */

@media only screen and (max-width: 520px){
    main .blog{
        height: 125vh;
    }

    .site-content .post-content > .post-image .post-info{
        display: none;
    }

    footer.footer .container > div{
        padding:  1rem .9rem !important;
    }

    footer .rights{
        padding: 0 1.4rem;
        text-align: center;
    }

    nav .toggle-collapse{
        width: 80% !important;
    }

}

/*        x      Viewport less then or equal to 520px       x     */
